.hidden-scrool {
    overflow-y: hidden;
    margin: 0px;
}

.vh-80 {
    height: 80vh;
}

.vh-81 {
    height: 81vh;
}
.div-height{
    height: 80%;
}

body.dark-mode{
    background-color: black;
    color: white;
    border-color: blue;
}

@media screen and (max-width: 990px) {
    /* 6 */
    .vh-80 {
        height: 40vh;
    }
    .div-height{
        height: 70%;
    }
    .flex-column-mobile{
        flex-direction: column!important;
    }
}

@media screen and (max-width: 575px) {
    /* 12 */
    .vh-80 {
        height: 20vh;
    }
    .vh-81   {
        height: 40vh;
    }
    .div-height{
        height: 60%;
    }
}


